@{
    bool isCloseMenu = true;
    bool isAuthUser = User.Identity.IsAuthenticated;
}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Auction Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Supervisor" asp-controller="Zone" asp-action="Index" class="nav-link">Zone</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Supervisor" asp-controller="Country" asp-action="Index" class="nav-link">Country</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Supervisor" asp-controller="City" asp-action="Index" class="nav-link">City</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Supervisor" asp-controller="Umit" asp-action="Index" class="nav-link">Ümit</a>
                    </li>
                </ul>
                @if (isAuthUser)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            @User.GetFullName()
                        </button>
                        <ul class="dropdown-menu">
                            @* @if (User.IsInRole(RoleNames.Supervisor))
                            {
                                <li><a asp-area="Supervisor" asp-controller="Home" asp-action="Index" class="dropdown-item">Yetkili Paneli</a></li>
                                <li><hr class="dropdown-divider"></li>
                            }
                            else if (User.IsInRole(RoleNames.Company))
                            {
                                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="dropdown-item">Yetkili Paneli</a></li>
                                <li><hr class="dropdown-divider"></li>
                            } *@
                            <li><a asp-area="" asp-controller="Account" asp-action="Profile" class="dropdown-item">Profilim</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">Çıkış Yap</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    if (!isCloseMenu)
                    {
                        <div class="">
                            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-success">Bireysel Giriş yap</a>
                            <a asp-area="Admin" asp-controller="Account" asp-action="Login" class="btn btn-outline-success">Kurumsal Giriş yap</a>
                        </div>
                    }
                }
            </div>
        </div>
    </nav>
</header>

<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Çıkış Yap</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Çıkış yapmak istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" asp-area="" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="/">Çıkış Yap</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>
