<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dynamic Web App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/datatables.min.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <partial name="_Header" />
    <div class="container-flex flex-grow-1 ps-5 pe-5 pt-2 pb-5">
        <partial name="_Sidebar" />
        @RenderBody()
    </div>
    <partial name="_Footer" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script>
        $(function () {
            $(".select2").select2({
                placeholder: 'Seçiniz'
            });
            CovnertDatable();
        });

        let defaultDatatableSelector = ".datatable";
        let defaultColumnNumberToSort = 1;
        let defaultColumnSortType = "asc";

        function CovnertDatable() {
            $("table").each(function (i, tableItemObject) {
                var tableHasId = $(tableItemObject).attr('id');
                if (tableHasId) {
                    defaultDatatableSelector = `#${tableHasId}`;
                }

                var columnNumber = $(tableItemObject).attr('column-number-to-sort');
                if (columnNumber) {
                    var headerLength = $(tableItemObject).find("thead th").length;
                    if (columnNumber <= headerLength)
                        defaultColumnNumberToSort = columnNumber;
                }

                var columnSortType = $(tableItemObject).attr('column-sort-type');
                if (columnSortType) {
                    defaultColumnSortType = columnSortType;
                }
            });
            createDatatable();
        }

        function createDatatable() {
            var tableElement = $(defaultDatatableSelector).DataTable({
                "language": {
                    "url": "../jsons/datatable-turkish.json"
                },
                "columnDefs": [{
                    "targets": 0,
                    "orderable": false
                }],
                "order": [[defaultColumnNumberToSort, defaultColumnSortType]],
                "lengthMenu": [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, 'All']
                ],
                "pageLength": 25
            });
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
