html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Genel stiller */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container-flex {
    flex: 1;
}

/* Sticky footer stili */
.footer-sticky {
    margin-top: auto; /* Bu, footer'ın sayfanın en altına sabitlenmesini sağlar */
    width: 100%;
    background-color: #f8f9fa;
    /* Daha fazla stil ekleyebilirsiniz */
}
